<nav class="container relative flex justify-between max-w-none bg-clifton-navy border-b-harbourside-blue border-b-4 mb-11">
  <div class="z-10 py-9">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="font-extrabold pl-2.5 text-lg text-white hover:underline underline-offset-4" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
  </div>

  <div class="z-10 py-9">
    <ul class="inset-y-0 mr-1">
      {{ range .Site.Menus.main.ByWeight }}
          <li class="inline-block">
            <a class="p-2.5 font-bold uppercase text-white hover:underline underline-offset-4" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
          </li>
      {{ end }}
    </ul>
  </div>

  <div class="absolute w-full rounded-full overflow-show z-0 flex justify-center mt-5">
  {{ if isset .Site.Params "logo" }}
    <a class="inline-block" title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
      <img class="rounded-full inline-block w-28 border-4 border-clifton-navy" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
    </a>
  {{ end }}
  </div>
</nav>
